	<meta charset="UTF-8">
	<title>Quizland</title>
	<link href="/views/css/style.css" rel="stylesheet" type="text/css">
	<link href="/views/font/stylesheet.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 