<!-- views/partials/header.ejs -->

<button class="hamburger">&#9776;</button>
<button class="cross">&#735;</button>

<nav class="navDesktop">
    <div class="containerNav">
      <div class = "col leftmenu">
      <ul class="titrenavhaut titreGauche">
        <li><a style="float:left;" href="/jouer">JOUER</a><img src="/views/img/_triangleG.png" class="img-responsive TRIANGLE VERT" alt="triangle vert"></li>
        <li><a style="float:left;" href="/creer">CREER</a><img src="/views/img/_triangleJ.png" class="img-responsive TRIANGLE JAUNE" alt="triangle jaune"></li>
      </ul>
      </div>
      <div class = "col title">
          <p class="quizzTitre">QUIZLAND</p>
      </div>
      <div class = "col rightmenu">
      <ul class="titrenavhaut titreDroite">
        <li class="textR" style="float:right;"><a href="/faq">FAQ</a><img src="/views/img/_triangleW.png" class="img-responsive TRIANGLE BLANC" alt="triangle blanc"></li>
        <li class="textR" style="float:right;"><a href="/contact">CONTACT</a><img src="/views/img/_triangleR.png" class="img-responsive TRIANGLE ROUGE" alt="triangle rouge"></li>
      </ul>
    </div>
</nav>

<div class="menu navBurger">
  <ul>
    <li><a href="/accueil">ACCUEIL</a></li>
    <li><a href="/jouer">JOUER</a></li>
    <li><a href="/creer">CREER</a></li>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>
</div>
