    <section class="lastquiz">
    <div class="backgroundcaroussel">

            <div class="content">

                <div class="row">
                    <div class="col whiteframe">
                        <h1 class="decouvrez">NOS DERNIERS QUIZS</h1>

                        <div class="row">
                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                  <img src="/views/img/red-sante.png" src="sante icon">
                                  <div class="col redrectangle">
                                  <h2>SANTE</h2>
                                  </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-burger.png" src="burger icon">
                                    <div class="col redrectangle">
                                    <h2>BURGER</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">

                                <div class="col whitesquare"><a href="/questionspage">

                                <img src="/views/img/red-chimie.png" src="science icon">
                                    <div class="col redrectangle">
                                    <h2>MESURE</h2></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-ski.png" src="ski icon">
                                    <div class="col redrectangle">
                                    <h2>SKI</h2>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
            </div>
    </div>
    </section>
