html {
	width: 100vw;
	height: 100vh;
}

body {
	font-size: 62.5%;
	background-color: #fffd54ff;
	font-family: 'dosisregular', sans-serif;
}

.acceuil {

	text-align: center;
}

.accueil p {
	padding: 1.5rem;
}

.accueil .row {
	width: 70%;
	margin: auto;
}

.row {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.col {
	flex: 1;
}

.picture {
	flex: 0.2;
	align-self: center;
}

.blue {
	background-color: #0025f5;
	color: white;
	font-size: 1.7rem;
	font-weight: bold;
}
.red {
	background-color: #ff0000;
	color: white;
	font-size: 1.7rem;
	font-weight: bold;
}


.blueSquare {
	margin: 1.5rem auto;
	padding: 1rem;
	width: 7rem;
	background-color: white;
	color: #0025f5;
	font-size: 2.1rem;
	font-weight: bold;
	border: 0.3rem solid #0025f5;
}

.yellow {
	background-color: rgb(255,253,84);
	border: 3px solid black;
	margin: 15px;
	color: black;
}

.redSquare {
	margin: 1.5rem auto;
	padding: 1rem;
	width: 7rem;
	background-color: white;
	color: #ff0000;
	font-size: 2.1rem;
	font-weight: bold;
	border: 0.3rem solid #ff0000;
}

.greenSquare {
	background-color: white;
	color: #008c2a;
	border: 0.3rem solid #008c2a;
	padding: 1rem;
	font-size: 1.7rem;
	font-weight: bold;
	text-align: left;
}

.accueil .greenSquare {
	width: 50%;
	margin: 3rem auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: center;
	width: 100%;
}

footer .row {
	width: 100%;
}

.keepLogo {
	width: 2rem;
	padding-right: 2rem;
}

@media screen and (max-width: 640px) {
  .blue,
  .red,
  .greenSquare {
  	font-size: 0.7rem;
  }

  .redSquare,
  .blueSquare {
  	font-size: 1.1rem;
  }
  .picture {
  	display: none;
  }

footer p{
	background-color: rgb(255,253,84);
	margin: 0;
}

/* FAQ */

.titre_faq h1 {
	text-align: center;
    font-size: 1.8rem;
    border: 0.5rem solid blue;
    background-color: white;
    color: blue;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/* Espacement entre les questions */
.faq{
        margin: 2rem 0;
}

/* Masquer les checkbox et les paragraphes */
.faq-section input,
.faq-section p {
        display: none;
}


/* Si le checkbox est coché, montrer le texte */
.faq-section input[type=checkbox]:checked~p{
        display: block;
        color: blue;
        font-size: 0.7rem;
        border: 0.3rem solid blue;
        padding: 10px;
        margin-left: 20%;
        margin-right: 20%;
        background-color: white;
        text-align: justify;
}

/* Style des label */
.faq-section label{
        color : #fff;
        cursor: pointer;
        background: blue;
        display: block;
        position: relative;
        padding: 15px;
        font-weight: bold;

        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        transition: all .15s ease-out;
        text-align: center;
        font-size: 1.1rem;
        margin-left: 20%;
        margin-right: 20%;
}

/* Éviter de sélectionner le texte en cliquant plusieurs fois */
.faq-section label::selection{
        background: none;
}

.faq-section label:hover{
        background-color: red;
}

/* Style du label si le checkbox est coché */
.faq-section input[type=checkbox]:checked~label{
        border-color: green;
        background: green;
        box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/*///////////////////*/
/* "JOUER A UN QUIZ" */
/*///////////////////*/

h1{
  font-size: 2.8rem;
}

h2{
  font-size: 2.1rem;
}

h3{
  font-size: 1.7rem;
}


body h1 {
  color: blue;
}

body h2{
  color: white;
  padding-top: 0.5rem;
}



/* Le fond jaune derrière les quizs*/

.backgroundcaroussel {
  background-color: #fffd54ff;
  text-align: center;
  }


	/* Le grand cadre blanc à bord bleu qui entoure les quizs. */

.whiteframe {
  background-color: white;
  border: 0.3rem blue solid;
  margin: 2rem;
  padding: 1rem;
}



/* Les carrés blancs dans lesquels sont les favicons rouges */

.whitesquare {
  background-color: white;
  border: 0.3rem red solid;
  margin: 1rem;
  width: 12rem;
  height: 13rem;
}



/* Les rectangles oranges avec le titres des quizs*/

.redrectangle {
  background-color: red;
  height: 4rem;
  width: 12rem;
}


/* Les images du quizs */


img {
  margin-top: 1rem;
}


.rowa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



/* L'encadré TRIER / FILTRER */

.rowi h1 {
  background-color: white;
  border: 0.3rem blue solid;
  width: auto;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
