html {
	width: 100vw;
	height: 100vh;
}

body {
	font-size: 62.5%;
	background-color: #fffd54ff;
	font-family: 'dosisregular', sans-serif;
}

.accueil {
	text-align: center;
}

.accueil p {
	padding: 1.5rem;
}

.accueil .row {
	width: 70%;
	margin: auto;
}

.row {
	display: flex;
	justify-content: center;
	align-items: stretch;	
}

.col {
	flex: 1;
}

.picture {
	flex: 0.2;
	align-self: center;
}

.blue {
	background-color: #0025f5;
	color: white;
	font-size: 1.7rem;
	font-weight: bold;
}
.red {
	background-color: #ff0000;
	color: white;
	font-size: 1.7rem;
	font-weight: bold;
}

.blueSquare {
	margin: 1.5rem auto;
	padding: 1rem;
	width: 7rem;
	background-color: white;
	color: #0025f5;
	font-size: 2.1rem;
	font-weight: bold;
	border: 0.3rem solid #0025f5;
}

.redSquare {
	margin: 1.5rem auto;
	padding: 1rem;
	width: 7rem;
	background-color: white;
	color: #ff0000;
	font-size: 2.1rem;
	font-weight: bold;
	border: 0.3rem solid #ff0000;
}

.greenSquare {
	background-color: white;
	color: #008c2a;
	border: 0.3rem solid #008c2a;
	padding: 1rem;
	font-size: 1.7rem;
	font-weight: bold;
	text-align: left;
}

.accueil .greenSquare {
	width: 50%;
	margin: 3rem auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-align: center;
	width: 100%;
}

footer .row {
	width: 100%;
}

.keepLogo {
	width: 2rem;
	padding-right: 2rem;
}

@media screen and (max-width: 640px) {
  .blue,
  .red,
  .greenSquare {
  	font-size: 0.7rem;
  }

  .redSquare,
  .blueSquare {
  	font-size: 1.1rem;
  }
  .picture {
  	display: none;
  }
}