<!DOCTYPE html>
<html lang="fr">
<head>
   <% include ../partials/head %>
</head>
<body>

<header>
</header>

<main class="acceuil">
	<img src="/views/img/quizzy.png" alt="quizzy icon">
	<div class="content">
		<div class="row">
			<div class="col">
				<h2>CREER</h2>
			</div>
			<div class="col">
				<h2>JOUER</h2>
			</div>
		</div>
		<div class="row">
			<div class="col blue">
				<p>
				CREER UN QUIZZ EN QUELQUES MINUTES. METTEZ EN LIGNE VOS 10 QUESTIONS AYANT 4 RÉPONSES CHACUNE ET PARTAGER LES A VOTRE ENTOURAGE,  VOS COLLABORATEURS  OU VOS ÉLÈVES.
				</p>
			</div>

			<div class="col blue">
				<p>
					JOUER A DES MILLIERS DE QUIZ EN LIGNE  CLASSÉS PAR THÈMES POUR QUE VOTRE APPRENTISSAGE SOIT UN VÉRITABLE PLAISIR. VENEZ VOUS AMUSEZ A PLUSIEURS.
				</p>		
			</div>
		</div>

		<div class="white pushR row">
			<p class="col left">
				<img src="/views/img/Triangle.png" alt="red triangle">
			</p>
			<p class="col">
				QUI SOMMES NOUS ? UNE PLATEFORME TE PERMETTANT D’INVENTER UN QUIZZ EN QUELQUES MINUTES ET D’EN DÉCOUVRIR CHAQUE JOUR. FAITES DE VOTRE LEÇON OU DE VOTRE ENTREPRISE UN MOMENT LUDIQUE.
			</p>
		</div>
		<div class="blue">
			<h3 class="yellow">NOS DERNIERS QUIZ</h3>	
			<div class="row">
				<div class="col white">
					<img src="/views/img/meteo.png" src="partially cloudy icon">
					<p>Quiz meteo</p>				
				</div>

				<div class="col white">
					<img src="/views/img/amour.png" src="bed with a heart over it">
					<p>Quiz love</p>				
				</div>

				<div class="col white">
					<img src="/views/img/chapeau.png" src="hat icon">
					<p>Quiz chapeau</p>				
				</div>

				<div class="col white">
					<img src="/views/img/sante.png" src="health icon">
					<p>Quiz sante</p>				
				</div>
			</div>
		</div>
	</div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>