<!DOCTYPE html>
<html lang="fr">
<head>
   <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>

<main class="accueil">
	<div class="row">
		<div class="col">
			<h2 class="blueSquare">CREER</h2>
		</div>
		<div class="col">
			<h2 class="redSquare">JOUER</h2>
		</div>
	</div>

	<div class="row">
		<div class="col blue">
			<p>
				CREER UN QUIZZ EN QUELQUES MINUTES. METTEZ EN LIGNE VOS 10 QUESTIONS AYANT 4 RÉPONSES CHACUNE ET PARTAGER LES A VOTRE ENTOURAGE,  VOS COLLABORATEURS  OU VOS ÉLÈVES.
			</p>
		</div>

		<div class="col red">
			<p>
				JOUER A DES MILLIERS DE QUIZ EN LIGNE  CLASSÉS PAR THÈMES POUR QUE VOTRE APPRENTISSAGE SOIT UN VÉRITABLE PLAISIR. VENEZ VOUS AMUSEZ A PLUSIEURS.
			</p>
		</div>
	</div>

	<div class="row greenSquare">
		<div class="col picture">
			<img src="/views/img/Triangle.png" alt="red triangle">
		</div>
		<div class="col">
			<p>
				QUI SOMMES NOUS ?<br/> UNE PLATEFORME TE PERMETTANT D’INVENTER UN QUIZZ EN QUELQUES MINUTES ET D’EN DÉCOUVRIR CHAQUE JOUR. FAITES DE VOTRE LEÇON OU DE VOTRE ENTREPRISE UN MOMENT LUDIQUE.
			</p>

		</div>
	</div>




</main>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
