<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>

<main>
    <h1>Page d'administration</h1>
    <p>Bienvenue sur votre espace d'administration du quizland</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
