<!DOCTYPE html>
<html lang="fr">
<head>
  <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>

<div class="col partie_creer2"
  <div class="row">
    <div class="col">
      <h1 id="numeroQuestion" class="titreCreer">PARTIE CREATION D'UN QUIZ
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p id="question" class="cadreQuestion">Pose ici la question de ton quizz. <br>
        Max : 120 caractères. <br>
        Exemple : Quels sont les états d’un fluide ?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p id="reponse1" class="cadreReponse">Ecris ici ta première réponse</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p id="reponse2" class="cadreReponse">Ecris ici ta deuxième réponse</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p id="reponse3" class="cadreReponse">Ecris ici ta troisième réponse</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p id="reponse4" class="cadreReponse">Ecris ici ta quatrième réponse</p>
    </div>
  </div>

  <div class="row boutonsCreationAide">
    <div class="col">
      <h2 class="oui">PAST</h2>
    </div>
    <div class="col">
      <h2 class="oui"><a>NEXT</a></h2>
    </div>
  </div>

      <div class="row boutonsCreationAide">
        <div class="col">
          <h2 class="oui"><a class="textOui" href="/creation">SAUVEGARDER</a></h2>
        </div>
      </div>
</div>


<div class="col partie_creer1">
    <div class="row">
      <div class="col">
      </div>
    </div>

    <div class="speech">
      <p>En sauvegardant ton quiz, tu peux y revenir plus tard à l'aide d'un code secret.</p>
    </div>

    <div class = "col quizzyPng">
      <img class = "quizzy" src="/views/img/red-pingouin.png" alt="pingouin">
    </div>

</div>

  <footer>
    <% include ../partials/footer %>
  </footer>
  <% include ../partials/scripts %>
</body>
</html>
