<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>

<div class="row">
  <div class="col">
    <h2 class="titreCreer">CREER</h2>
  </div>
</div>

<div class="speech">
  <p >10 questions ayant 4 réponses à créer. Es-tu prêt?</p>
</div>

  <div class = "col quizzyPng">
  <img class = "quizzy" src="/views/img/quizzy.png" alt="pingouin">
  </div>

<div class="row boutonsCreationAide">
  <div class="col">
    <h2 class="oui"><a class="textOui" href="/creation">Oui !</a></h2>
  </div>
  <div class="col">
    <h2 class="aide"><a >J'ai besoin d'aide<a></h2>
  </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
