<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>

    <section class="titre_faq">

        <h1>FAQ</h1>

    </section>

    <section class="faq-section">

        <div class="faq">

        <input type="checkbox" id="q1">
        <label class="label" for="q1">Créer un quiz</label>
        <p class="etat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut inventore sequi doloribus recusandae expedita, amet qui, cum repudiandae cumque tempora tempore odio deserunt, nemo voluptate. Cum voluptas, vitae ducimus voluptatibus aliquam pariatur minus, ut possimus, veniam accusantium earum consequatur neque ullam culpa? Eveniet mollitia eos, eligendi! Natus enim, maiores harum qui dolor laboriosam sed modi est, eum dolorem excepturi tempora molestias. Doloremque sequi praesentium maiores quae unde eum, rerum dolor natus! Veniam a culpa aliquam placeat sed maiores quia aut quibusdam ipsum mollitia accusamus, minus, dolores porro corporis ea qui velit accusantium veritatis assumenda. Id atque velit quis fuga aut eaque dolorum dignissimos eveniet provident quasi dolorem non aliquid tempore qui accusamus repellat quas, officiis commodi ad amet, numquam maxime blanditiis, unde quod. Soluta odio eveniet quia architecto facere earum possimus inventore explicabo m Eos quaerat adgfdgdfgxhfghjcghjghkjkhkvh</p>
        </div>

        <div class="faq">

        <input type="checkbox" id="q2">
        <label class="label" for="q2">Jouer au quiz</label>
        <p class="etat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic aspernatur harum, sit doloribus iure nisi doloremque consequatur, commodi odit totam maxime eligendi. Non, porro eius, tempore facilis reiciendis ducimus repudiandae fugit amet mollitia odio ullam veniam. Omnis provident aspernatur vel facilis error excepturi, voluptas, animi minus soluta amet pariatur praesentium reprehenderit maiores dolor sunt, magni ab iure placeat vero fugit! Deleniti quod sint omnis consectetur. Animi cumque incidunt, non aliquam accusantium. Quis accusamus neque odio in amet natus quos suscipit fuga consequuntur eaque architecto mollitia qui, molestias dolorum ut laudantium harum officiis reiciendis, libero perferendis officia doloremque. Deleniti, inventore, perferendis?</p>


        </div>

        <div class="faq">

        <input type="checkbox" id="q3">
        <label class="label" for="q3">Question 3</label>
        <p class="etat">... Le début de la réponse ...</p>


        </div>

        <div class="faq">

        <input type="checkbox" id="q4">
        <label class="label" for="q4">Question 4</label>
        <p class="etat">... Le début de la réponse ...</p>


        </div>

        <div class="faq">

        <input type="checkbox" id="q5">
        <label class="label" for="q5">Question 5</label>
        <p class="etat">... Le début de la réponse ...</p>


        </div>

        <div class="faq">

        <input type="checkbox" id="q6">
        <label class="label" for="q6">Question 6</label>
        <p class="etat">... Le début de la réponse ...</p>

        </div>

        <div class="faq">

        <input type="checkbox" id="q7">
        <label class="label" for="q7">Question 7</label>
        <p class="etat">... Le début de la réponse ...</p>

        </div>

        <div class="faq">

        <input type="checkbox" id="q8">
        <label class="label" for="q8">Question 8</label>
        <p class="etat">... Le début de la réponse ...</p>


        </div>

        <div>

        <input type="checkbox" id="q9">
        <label class="label" for="q9">Question 9</label>
        <p class="etat">... Le début de la réponse ...</p>


        </div>

        <div class="faq">

        <input type="checkbox" id="q10">
        <label class="label" for="q10">Question 10</label>
        <p class="etat">... Le début de la réponse ...</p>


        </div>



    </section>

<footer>
    <% include ../partials/footer %>
</footer>
</body>

</html>
