<!DOCTYPE html>
<html lang="fr">
<head>
   <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>

    <section class="searchquiz">
    <div class="backgroundcaroussel">

            <div class="content">

                <div class="rowa">
                    <div class="col whiteframe">
                        <h1 class="decouvrez">TOUS NOS QUIZS</h1>


                        <div class="rowi">
                            <div class="pills">
                                <h1 class="trier">TRIER <class="filtrer">FILTRER</h1>
                            </div>
                        </div>

                        <div class="rowa">
                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                  <img src="/views/img/red-sante.png" src="sante icon">
                                  <div class="col redrectangle">
                                  <h2>SANTE</h2>
                                  </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-burger.png" src="burger icon">
                                    <div class="col redrectangle">
                                    <h2>BURGER</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-chimie.png" src="science icon">
                                    <div class="col redrectangle">
                                    <h2>MESURE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-ski.png" src="ski icon">
                                    <div class="col redrectangle">
                                    <h2>SKI</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-science.png" src="science icon">
                                    <div class="col redrectangle">
                                    <h2>SCIENCE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-aubergine.png" src="aubergine icon">
                                    <div class="col redrectangle">
                                    <h2>AUBERGINE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-devise.png" src="devise icon">
                                    <div class="col redrectangle">
                                    <h2>DEVISE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-tournage.png" src="tournage icon">
                                    <div class="col redrectangle">
                                    <h2>TOURNAGE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-meteo.png" src="meteo icon">
                                    <div class="col redrectangle">
                                    <h2>METEO</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-requin.png" src="requin icon">
                                    <div class="col redrectangle">
                                    <h2>REQUIN</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-amour.png" src="amour icon">
                                    <div class="col redrectangle">
                                    <h2>AMOUR</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col smallsquare">
                                <div class="col whitesquare">
                                <img src="/views/img/red-radio.png" src="radio icon">
                                    <div class="col redrectangle">
                                    <h2>RADIO</h2>
                                    </div>
                                </div>
                            </div>

                      </div>
                  </div>
              </div>
            </div>
    </div>
  </searchquiz>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
