<!DOCTYPE html>
<html lang="fr">

<head>
   <% include ../partials/head %>
</head>
<body>


<div class="log-form">
<h2> <%=title%></h2>
  <form class="login" method="POST" action="/login">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div>

<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
