<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

<h2 class="titre">Sciences</h2>
<h3>Quels sont les états d'un fluide ?</h3>



<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>