<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>



    <section class="question">
        <div class="head">
            <h2 class="intitule_question">Quels sont les états d'un fluide ?</h2>
            <h1 class="numero_de_question">01</h1>
        </div>




    <div class="reply">
        <ul>
            <li class="rep1">Liquide comme l'eau</li>
            <li class="rep2">Gaz</li>
        </ul>
        <ul>
            <li class="rep3">Solide</li>
            <li class="rep4">Mousse de type végétal</li>
        </ul>
    </div>

</section>
<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
