<!DOCTYPE html>
<html lang="fr">
<head>
   <% include ../partials/head %>
</head>
<body>

<header>
  <% include ../partials/header %>
</header>



<section class="question" id="#questionsJouer">
<div class="head">
<h2 class="titre">Sciences</h2>
<img class ="logoQuestion" src="views/img/red-chimie.png" alt="Thème sciences, éprouvette"/>


<h3 class="titreQuestion">Quels sont les états d'un fluide ?</h3>
</div>
<div class="reply">
	<ul>
		<li class="rep1">Liquide</li>
		<li class="rep2">Gaz</li>
	</ul>
	<ul>
		<li class="rep3">Solide</li>
		<li class="rep4">Epais</li>
	</ul>
</div>

</section>
<footer>
    <% include ../partials/footer %>
</footer>
<% include ../partials/scripts %>
</body>
</html>
